@use 'vars';
@use 'rest';

/*rtl:begin:ignore*/
/* iconfont */
.iconfont {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.4em;
  fill: none;
  overflow: hidden;
  outline: 0;
}

/* 解决antd-design-vue input自动填充背景色问题 */

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  box-shadow: inset 0 0 0 1000px var(--bg-input);
  -webkit-text-fill-color: var(--text-primary) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
h2 {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

/* 添加到文件末尾 */
.icon-select-popover {
  .el-popover__title {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #eee;
  }
}

/* 隐藏antd-design-vue的aria-hidden属性 */
div[aria-hidden='true'] {
  display: none !important;
}

.font-ar {
  font-family: 'NeoSansArabic', 'Droid Arabic Kufi', 'dubai', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

.danger {
  color: #ff4d4f;
}

a {
  &.danger:hover {
    color: rgb(231, 39, 42);
  }
}

/*rtl:end:ignore*/
