@font-face {
  font-family: "iconfont"; /* Project id 4849800 */
  src: url('iconfont.woff2?t=1741328561792') format('woff2'),
       url('iconfont.woff?t=1741328561792') format('woff'),
       url('iconfont.ttf?t=1741328561792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dislike:before {
  content: "\e9cd";
}

.icon-dislike-filled:before {
  content: "\e9d7";
}

.icon-flag:before {
  content: "\e9ce";
}

.icon-star:before {
  content: "\e9cf";
}

.icon-like:before {
  content: "\e9d0";
}

.icon-bookmark-filled:before {
  content: "\e9d5";
}

.icon-flag-filled:before {
  content: "\e9da";
}

.icon-like-filled:before {
  content: "\e9dc";
}

.icon-star-filled:before {
  content: "\e9df";
}

